<h1>Your time to play ! Make your world !</h1>

<ul class="list-inline">
  <% @word.each do |letter|%>
  <li><%= letter %></li>
<% end  %>
</ul>

<p><form action="/score" method="get">
  <label for="question">Put your word</label>
  <input type="text" name="word" placeholder="what word can you do ?">
  <input type="hidden" name="start_time" value="<%= Time.now %>">
  <input type="hidden" name="grid" value="<%= @word.join %>">

  <input type="submit" value="Let's go !">
</form></p>
